:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --accent-white-color: #ffffff;
    --button-bg: #f5f4fa;
    --footer-bg: #2f303a;
    --address-color: rgba(255, 255, 255, 0.6);
    --header-bg: #ffffff;
    --social-btn: #afb1b8;
}

/*-----------Утилиты---------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/*---------Общие-------------*/

body {
    background: var(--accent-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container--flex {
    display: flex;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section__title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

/**__________________Header___________________**/

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--button-bg);
}

/**-----------Лого---------------**/

.logo {
    display: inline-block;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus,
.logo__part {
    color: var(--accent-color);
}

.logo--invers {
    color: var(--accent-white-color);
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 20px;
}

/**------------------Меню----------------**/

.site-nav {
    display: flex;
    align-items: center;
}
.site-nav__list {
    display: flex;
    margin-left: 93px;
}
.site-nav__item {
    margin-right: 50px;
}
.site-nav__item:last-child {
    margin-right: 0;
}
.link {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
    color: var(--title-text-color);
}

.site-nav__link--current,
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.site-nav__link--current::after {
    position: absolute;
    bottom: -32px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.page-header__icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__icon--dimension {
    width: 10px;
    height: 16px;
}

.page-header__icon:hover,
.page-header__icon:focus,
.page-header__link:focus .page-header__icon,
.page-header__link:hover .page-header__icon {
    fill: var(--accent-color);
}

/**-----------Контакты--------------------**/

.page-header__list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.page-header__link {
    color: var(--primary-text-color);
}

.page-header__item + .page-header__item {
    margin-left: 50px;
}

.address__item {
    margin-bottom: 9px;
    margin-top: 0;
    font-style: normal;
}

.address__item:last-child {
    margin-bottom: 0;
}
.address__link {
    color: var(--accent-white-color);
    font-style: normal;
}

.link--invers {
    color: var(--address-color);
}
/**-------------------Hero------------------**/

.hero {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-bg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-size: cover;
}

.hero__title {
    text-transform: uppercase;
    color: var(--accent-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-align: center;
}

/**-----------------Button-------------------**/

.button {
    display: block;
    border: none;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button {
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px;
    min-width: 200px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.87;
    background-color: var(--accent-color);
    color: var(--accent-white-color);
}

.portfolio__button {
    background-color: var(--button-bg);
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
}

.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--accent-color);
    color: var(--accent-white-color);
}

.main__button:hover,
.main__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__button:hover,
.portfolio__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__button--margin {
    margin-top: 30px;
}
.main__button--position {
    position: absolute;
    left: 370px;
    top: 48px;
    text-align: start;
}

/**Преимущества нашей компании**/

.benefits__list {
    display: flex;
}

.benefits__item {
    width: 270px;
}
.benefits__item + .benefits__item {
    margin-left: 30px;
}
.benefits__title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits__icon {
    width: 70px;
    height: 70px;
}
.benefits__wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--button-bg);
    margin-bottom: 30px;
}

/*--------Секция Чем мы занимаемся------*/

.works {
    padding-top: 0;
}

.works__list {
    display: flex;
}

.works__item + .works__item {
    margin-left: 30px;
}
.works__wrapp {
    position: relative;
}
.works__title {
    position: absolute;
    color: var(--accent-white-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
}

/**Секция наша команда**/

.team {
    background-color: var(--button-bg);
}
.team__list {
    display: flex;
    font-size: 16px;
    line-height: 1.9;
    justify-content: space-between;
}
.team__item {
    width: 270px;
    background: #ffffff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:last-child {
    margin-right: 0;
}
.team__wrapp {
    padding: 30px 32px;
}
.team__member {
    color: var(--title-text-color);
    font-weight: 500;
    margin-bottom: 10px;
}
.team__master {
    margin-bottom: 16px;
}

.social__list {
    display: flex;
    justify-content: space-between;
    width: 206px;
}

.social__icon {
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: var(--social-btn);
}

.social__link {
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--dark {
    background-color: rgba(255, 255, 255, 0.1);
}
.social__icon--dark {
    fill: var(--accent-white-color);
}
.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
    fill: var(--accent-white-color);
}

/**--------------Portfolio-------------------**/

.filter__list {
    width: 612px;
    display: flex;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.filter__item + .filter__item {
    margin-left: 8px;
}
.portfolio__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 9px;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}
.portfolio__meta {
    padding: 20px 24px;
    border-bottom: 1px solid var(--button-bg);
    border-right: 1px solid var(--button-bg);
    border-left: 1px solid var(--button-bg);
}
.portfolio__wrapp {
    position: relative;
    overflow: hidden;
}

.portfolio__backdrop {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: var(--accent-white-color);
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__backdrop,
.portfolio__link:focus .portfolio__backdrop {
    opacity: 1;
    transform: translateY(0%);
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio__item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
    margin-right: 0;
}
.portfolio__item:nth-child(-n + 3) {
    margin-top: 0;
}

.portfolio__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*----------------Footer-------------*/

.page-footer {
    background-color: var(--footer-bg);
    padding-bottom: 60px;
    padding-top: 60px;
}

.page-footer__list {
    margin-right: 70px;
}

.page-footer__block-join {
    padding-top: 12px;
}
.page-footer__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accent-white-color);

    margin-bottom: 20px;
}

.page-footer__form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 94px;
    padding-top: 12px;
}
.page-footer__input {
    background-color: var(--footer-bg);
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    color: var(--accent-white-color);
}

.page-footer__label {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: var(--accent-white-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.page-footer__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.6);
}

.button__icon {
    position: absolute;
    margin-left: 10px;
}

/*--------------------Clients------------*/
.clients__list {
    display: flex;

    justify-content: space-between;
}

.clients__icon {
    padding: 0;
    cursor: pointer;
    width: 106px;
    height: 60px;
    fill: var(--social-btn);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
    cursor: pointer;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-btn);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-white-color);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-color);
}

/* Modal */
.backdrop {
    position: fixed;

    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    padding: 40px;
    position: absolute;
    width: 528px;
    background-color: var(--accent-white-color);
    top: 50%;
    left: 50%;
    box-shadow: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
    padding: 0;

    width: 18px;
    height: 18px;
    fill: #000000;
}
.modal__button {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-white-color);
    transition: fill 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: #212121;
    margin-bottom: 30px;
}

.form__textarea {
    resize: none;
    height: 120px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.form__field:nth-child(4) {
    margin-bottom: 20px;
}

.form__input {
    margin: 0;
    padding: 0;
    padding: 11px 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
    position: absolute;
    transform-origin: left bottom;
    bottom: 100%;
    transform: translateY(-4px);
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover,
.form__input:focus + .form__icon {
    fill: var(--accent-color);
}

.form__textarea:focus,
.form__input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.checkbox__input {
    appearance: none;
    position: absolute;
}
.checkbox__icon {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
}
.checkbox__label {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #757575;
}
.checkbox__link {
    margin-left: 4px;
    display: inline-block;
    font-weight: 400;

    text-decoration-line: underline;
    color: var(--accent-color);
}
